apiVersion: v1
kind: Service
metadata:
  name: {{ include "tg-monitor-bot.fullname" . }}
  labels:
    {{- include "tg-monitor-bot.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.apiPort }}
      targetPort: api
      protocol: TCP
      name: api
  selector:
    {{- include "tg-monitor-bot.selectorLabels" . | nindent 4 }}
